:root {
  --nude: #eab676;
  --gray: #333333;
  --red: #ef233c;
}

/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--gray);
}

body {
  background-color: var(--nude);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

header a {
  text-decoration: none;
}

footer {
  text-align: center;
  margin-top: 30px;
  padding: 50px;
}

/* * * styles for main page * * */

/* cart */
.cart {
  position: relative;
}

.cartAmount {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1rem;
}

.cart img {
  cursor: pointer;
}

/* items */
.main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 70px;
  max-width: 800px;
  margin: 0 auto;
}

.item {
  text-align: center;
  border: 2px solid;
  border-radius: 5px;
  width: 220px;
  margin-top: 30px;
  padding: 1.5rem;
}

.item h2 {
  margin-top: 10px;
}

.item p {
  font-size: 18px;
  margin-top: 10px;
}

button {
  margin-top: 10px;
  padding: 4px;
}

/* * * styles for confirm page * * */

/* cart empty page */

.template-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
  padding: 3rem;
}

.template-inner h3 {
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.template-inner button {
  margin: 2rem;
}

/* cart items page */

/* cart item box */
.cart-item {
  display: flex;
  gap: 4rem;
  border: solid;
  border-radius: 5px;
  padding: 2rem;
  width: 340px;
  margin: auto;
  margin-top: 2rem;
}

/* price */
.item-price {
  font-size: 18px;
  margin-top: 8px;
}

/* counter */
.buttons {
  display: flex;
  gap: 13px;
  margin-top: 10px;
}

i {
  font-size: 1.3rem;
}

/* * * breakpoints * * */
@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1024px) {
}
